.row > *:nth-child(1) { 
    flex: 1 1 50%;   
}
.row > *:nth-child(2) {  
    flex: 1 1 50%;  
}

.t1 li {
    display: inline;
    padding: 0 25px;
       
}
.t1 a, .row a {
    text-decoration: none;
    color:rgb(0, 0, 0); 
}
.nav {
    text-align: center;
}
.splash {
    text-align: center;
    padding: 30px 0;
    background-image: url(https://via.placeholder.com/1400x700.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
.splash h1{
    font-size: 60px;
}
.splash h2 {
    font-size: 45px;
}
.splash1 {
    padding: 150px 0;
}

.button {
    color: rgb(0, 0, 0);
    background-color: #ff8800;
    border-color: #ff8800;
    text-decoration: none;
    padding: 25px 45px;
    border-radius: 30%;
}